.person-item {
    border-bottom: 1px solid #999;
}

.portfolio-title {
    clear: none;
}
.w100 {
    width: 100%;
}
.pb20 {
    padding-bottom: 20px;
}
.portfolio-logo {
    outline: 2px solid #ebebeb;
    border-radius: 50%;
}